<div class="container">
  <h1>4 en Línea</h1>

  <!-- Formulario de configuración del tablero -->
  <form (ngSubmit)="crearTablero()" #formulario="ngForm" class="formulario">
    <mat-form-field appearance="outline">
      <mat-label>Filas</mat-label>
      <input
        matInput
        type="number"
        name="filas"
        [(ngModel)]="filas"
        min="4"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Columnas</mat-label>
      <input
        matInput
        type="number"
        name="columnas"
        [(ngModel)]="columnas"
        min="4"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Nuevo Juego
    </button>
  </form>
  
  <div *ngIf="tablero.length > 0 && !finalizado" class="turno-jugador">
    🎮 Turno: Player {{ turnoJugador + 1 }}
  </div>
  
  <!-- Tablero generado -->
  <div *ngIf="tablero.length > 0" class="tablero">
    <div *ngFor="let fila of tablero; let i = index" class="fila">
      <div
        *ngFor="let celda of fila; let j = index"
        class="celda"
        [class.clickeable]="i === 0 && !finalizado"
        [class.ganadora]="estilosTablero[i][j] === 'ganadora'"
        (click)="i === 0 && !finalizado && jugar(j)"
      >
        {{ celda }}
      </div>
    </div>
  </div>

  <div *ngIf="finalizado && ganador !== null" class="mensaje-ganador">
  🏆 Ganador: Player {{ ganador + 1 }}
  </div>
</div>
